<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-resizable-behavior/iron-resizable-behavior.html">
<script src="../highcharts/adapters/standalone-framework.js"></script>
<script src="../highcharts/highstock.js"></script>

<script>
'use strict';

var CottonBehaviors = CottonBehaviors || {};

var ChartBehavior = {
  properties: {
    _chart:Object
  },

  listeners: {
      'iron-resize': 'resize'
  },

  ready: function () {
    this._chart = this._createChart();
  },

  resize: function () {
      this._chart.reflow();
  }
};

CottonBehaviors.ChartBehavior = [Polymer.IronResizableBehavior, ChartBehavior];
</script>
